

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 
}
nav{
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
    
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
    
}
nav .menu a{
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    font-weight: 600;


}
.btn{
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    background-color: #30B868;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    gap: 10px;
    
   
}
#banner{
    display: flex;
    justify-content: center;
    text-align: center; 
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
   
}
#banner .banner-content{
    max-width: 1360px;
    margin-bottom: 180px;
}
.banner-content .btn1{
    padding: 8px 12px;
    border-radius: 100px;
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    color:#30B868;
    margin-top: 123px;
    margin-bottom: 24px;

    

}
.banner-content h1{
    font-size: 72px;
    font-weight:bold;
    color:#FFFFFF;
    margin-bottom: 16px;
    

}
.color-green{
    color: #30B868;
}
.banner-content p{
    max-width: 680px;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 32px;
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 16px ;
}
.banner-content .btn2{
    padding: 16px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight:600;
    border-radius: 4px;
    border: 1px solid white;
    background: none;
    display: flex;
    text-align: center;
    display: flex;
    text-align: center;
    gap: 10px;
}
#notes{
    display: flex;
    text-align: center;
    justify-content: center;
}
#notes .notes-container h2{
   font-size: 48px;
   font-weight: bold;
   color: #001931;
   margin-bottom: 16px;
}
#notes .notes-container p{
    font-size: 16px;
    color: #627382;
    margin-bottom: 44px;
}
#notes .notes-container .notes-box{
    display: flex;
    gap: 24px;
    max-width: 1360px;
}
.notes-box .note-card{
    border-radius: 8px;
    padding: 24px;
    box-shadow: 0 0px 8px 0 #627382;

}
.note-card img{
    padding: 20px;
    margin-bottom: 16px;
    border-radius: 100px;
    background-color: #F95555;
}
.note-card h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}
.note-card p{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    margin-bottom: 20px;
   
}


