

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 
}
nav{
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
    
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
    
}
nav .menu a{
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    font-weight: 600;


}
.btn{
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    background-color: #30B868;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    gap: 10px;
    
   
}
#banner{
    display: flex;
    justify-content: center;
    text-align: center; 
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
   
}
#banner .banner-content{
    max-width: 1360px;
    margin-bottom: 180px;
}
.banner-content .btn1{
    padding: 8px 12px;
    border-radius: 100px;
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    color:#30B868;
    margin-top: 123px;
    margin-bottom: 8px;

    

}
.banner-content h1{
    font-size: 72px;
    font-weight:bold;
    color:#FFFFFF;
    margin-bottom: 16px;
    

}
.color-green{
    color: #30B868;
}
.banner-content p{
    max-width: 680px;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 32px;
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 16px ;
}
.banner-content .btn2{
    padding: 16px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight:600;
    border-radius: 4px;
    border: 1px solid white;
    background: none;
    display: flex;
    text-align: center;
    display: flex;
    text-align: center;
    gap: 10px;
}
#notes{
    display: flex;
    text-align: center;
    justify-content: center;
}
#notes .notes-container h2{
   font-size: 48px;
   font-weight: bold;
   color: #001931;
   margin-bottom: 16px;
}
#notes .notes-container p{
    font-size: 16px;
    color: #627382;
    margin-bottom: 44px;
}
#notes .notes-container .notes-box{
    display: flex;
    gap: 24px;
    max-width: 1360px;
}
.notes-box .note-card{
    border-radius: 8px;
    padding: 24px;
    box-shadow: 0px 0px 8px 0px #627382;

}
.note-card img{
    padding: 20px;
    margin-bottom: 16px;
    border-radius: 100px;
    background-color: #F95555;
}
.note-card h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}
.note-card p{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    margin-bottom: 20px;
   
}
#brain{
  display: flex;
  gap: 60px;
  padding: 120px;
}
#brain img{
    border-radius: 12px;
}

#brain .brain-content{
    padding:101px 0px 101px 0px;
    max-width: 700px;

}
#brain .brain-content h6{
    font-size: 16px;
    color: #30B868;
    font-weight: 500;
    margin-bottom: 16px;
    
}

#brain .brain-content h2{
    font-size: 48px;
    color: #001931;
    font-weight: 700;
    margin-bottom: 16px
}
#brain .brain-content p{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    margin-bottom: 40px;
    max-width: 500px;
}
#brain .brain-content .list{
    list-style-type: none;
    padding: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}
#menu{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    max-width: 1360px;
    background-color: #F7F6F2;
    padding: 80px 40px;
    margin: 0 auto;
    margin-bottom: 120px;
}
#menu h2{
    font-size: 40px;
    color: #000000;
    font-weight: 700;
    margin-bottom: 16px;

}
#menu p{
    font-size: 16px;
    color: #627382;
    line-height: 24px;
    
}
.footer-section{
   background-color:#001931;
   padding: 120px 120px 30px 120px;

}
.footer-section .footer-container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

}
.footer-container .link-container{
    text-align: center;
    margin-bottom: 80px;
}
.footer-container .link-container h3{
    font-size: 20px;
    color: #FFFFFF;
    line-height: 28px;
    font-weight: 500; 
    text-align: right;

}
.link-container .link{
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 16px;
    text-align: right;
}
.footer-section .footer{
    color: #FAFAFA;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
