

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 
}
nav{
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
    
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
    
}
nav .menu a{
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    font-weight: 600;


}
.btn{
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    background-color: #30B868;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
}
